<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET" />
 <application android:name=".TestApplication" android:theme="@style/Theme.Luke.Native" android:label="Native UI Tests" android:allowBackup="false" android:usesCleartextTraffic="false">
  <activity android:name=".TestActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
 </application>
</manifest>
